{{ if eq .aanumber "01" }}

{{ printf "<!--" | safeHTML }}
++++HHHHHHHHHHHHHHHHHHHHHHHHHHHNJ.
.JHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHh
dHHH#^`+++++++++++++++++++++++?HHHHb
HHHM+++++++++++++++++++++++++++.HHHM
HHHM+++++++++++++++++++++++++++.HHHH
HHHM+++++++++++++++++++++++++++.HHHH++
HHHM+++++++++++++++++++++++++++.HHHHHHHHNa,
HHHM+++HHH)++dHHHHHHHHHHHHHHN++.HHHHHHHHHHHN,
HHHM+++HHH)++dHHHHHH@HH@HHHHN++.HH@@+_?TMHHHH,
HHHM+++HHH)++dHH@M++HHHHH@HHN++.HHHH+++++HHHHN
HHHM+++HHH)++dHHHHHHHHHHHHHHN++.HHH@+++++JHHHM.
HHHM+++HHH)++dHHHHHH@HMHHH@HN++.HHHH+++++,HHHH_
HHHM+++HHH)++dHHH@HHHb.JHHHHN++.HHH@+++++(HHHM
HHHM+++HHH)++dHHHHHHHHHHHHHHN++.HHHH+++++dHHH#
HHHM+++H@H)++dHH@HHHHHHHH@HHN++.HHH@++++.HHHH%
HHHM+++HHH)++dHHH@7?MHH@HHHHN++.HHH@+++.HHHH@
HHHM+++HHH)++dHHHL++dHHHHHHHN++.HHHH++.HHHH#`
HHHM+++HHH)++dHHHHHHHHHH@HHHN++.HHHHJHHHHH@
HHHM+++HHH)++dHH@HHH@H#WHH@HN++.HH@HHHHH#^
HHHM+++HHH)++dHHHHHHHN++dHHHN++.HHHHHM"!
HHHM+++HHHHMMHHHH@HHHHHHHHHHN++.HHH@
HHHM+++HH@HHHHHHHHH@HHHHHH@HN++.HHH@
HHHM+++7777777777777777777777++.HHHM
WHHHh,++++++++++++++++++++++++.dHHHF
.WHHHHHHHHHHH@HH@HHHH@HH@HHHHHHHHH@
++(TMHHHHH@HHHHHHH@HHHHHHHH@HHHM"'

Oh, what brings you here?
Anyway, wanna get drinks?

mail@shinobu.work

{{ printf "-->" | safeHTML }}

{{ else if eq .aanumber "02" }}

{{ printf "<!--" | safeHTML }}
++++HN########################NNJ.
.J################################h
d####^`+++++++++++++++++++++++?H###b
N##M+++++++++++++++++++++++++++.###M
###M+++++++++++++++++++++++++++.####
###M`++++++++++++++++++++++++++.####++
###M+++++++++++++++++++++++++++.########Na,
###M+++++++++++++++++++++++++++.####H######N,
###M`++++++++++++++++++++++++++.###H+_?TM####,
###M+++++++++++++++++++++++++++.###H+++++M###N
###M+++++++++++++++++++++++++++.###H+++++J###M.
###M`++++++++++++++++++++++++++.####++++++####_
###M+++++++++++++++++++++++++++.###H+++++(###M
###M+++++++++++++++++++++++++++.###H+++++W####
###M`++++++++++++++++++++++++++.####++++.####%
###M+++++++++++++++++++++++++++.###H+++.####@
###M+++++++++++++++++++++++++++.###H++.#####`
###M`++++++++++++++++++++++++++.####J#####@
###M+++++++++++++++++++++++++++.#########^
###M+++++++++++++++++++++++++++.#####M"!
###M`++++++++++++++++++++++++++.###H
###M+++++++++++++++++++++++++++.###H
N##M+++++++++++++++++++++++++++.###M
W###h,+++++++++++++++++++++++++d###F
.W#####NNNNNNNNNNNNNNNNNNNNNN#####@
++(YMN########################NM"'

thank you.

{{ printf "-->" | safeHTML }}
{{ end }}